body {
    font-family: 'Montserrat';
}
#logo {
    width: 90%;
}

#navbarResponsive {
    vertical-align: middle;
}
.nav-text {
    color: black;
    font-family: 'Roboto';
    margin: 1px;
}
.nav-text:hover {
    border: 0px;
    background-color: lightgrey;
    border-radius: 15px;
}
.nav-text-special {
    font-family: 'Roboto';
    background: linear-gradient(to right, #ff6600 0%, #330867 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 1px;
}
header.masthead {
    position: relative;
    background: url("../img/masthead3.jpg") no-repeat center center;
    background-color: #343a40;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}
.masthead-heading {
    font-size: 3rem;
}